 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1f1f1f;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 80%;
}

/*sidebar panelmenu*/
.ui-panelmenu .ui-panelmenu-content
{
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    text-shadow: 0 0 0;
    text-decoration: none;
}

/*calendar*/
.ui-datepicker .ui-datepicker-current-day .ui-state-highlight, .ui-datepicker .ui-datepicker-current-day .ui-state-default
{
    background: white;
    color: black !important;
    font-weight: bold;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}


/*schedule*/
.fc-view-container
{
	
}
 
/*sidebar active links*/
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: black;
    background-color: #ff7400;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-shadow: 0 0 0;
    text-decoration: none;
}

.ui-state-default, .ui-widget-header .ui-state-default
{
	border-top:0;
    background: #1f1f1f;
    border: 1px solid;
    text-shadow: 0 0 0;
    border-color: #ff7400;
    font-weight: normal;
    color: #fafafa;
    box-shadow:none;
}

.ui-widget-content .ui-state-default
{
	border-top:0;
    border: 1px solid;
    text-shadow: 0 0 0;
    border-color: #ff7400;
    font-weight: normal;
    box-shadow:none;

}

body .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a
{
    color: #ff7400;
}

body .ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable .ui-state-default
{
    color: #a24a00;
}

body .ui-datepicker .ui-datepicker-calendar
{
     color: #ff7400;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content
{
  margin-left: 200px;
  padding: 1px 16px;
}

body
{
  background-color: #2a2a2a;
  color: white;
}

/*datatables rows*/
body .ui-datatable .ui-datatable-data > tr
{
	background: #161311;
	font-size: smaller;
	border-color: #934300;
}
/*overdue reservations*/
.coloredrow {
	background-color: #ff3300 !important;
	color: black !important;
}

.hidestyle {
	display:none;
}



.ui-datatable{
	margin-top: 5px;
}

.ui-datepicker .ui-datepicker-title
{
  background: transparent;
  color: white;
}

.ui-datepicker .ui-widget-header {
	background: transparent;
  color: white;
}

.ui-slider{
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
    margin-bottom:50px;
}


.ui-tooltip {
	display:block;
    position:fixed;
    overflow:hidden;
    left: -10px;
  	border-style: dashed !important;
  	border-width: 3px !important;
    padding: 5px 5px !important;
    box-shadow: 0 0 10px 0 #ddd;
    -moz-box-shadow: 0 0 10px 0 #ddd;
    -webkit-box-shadow: 0 0 10px 0 #ddd;
}

/*
#footer {
    position: fixed;
    height: 0px;
    background-color: transparent;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
} */

.loginfloat {float: right; margin-top: 20px; margin-right: 200px; text-align: right;}
/* If browser width is smaller than 700px sidebar becomes a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .loginfloat {margin-right: 50px;}
}

@media screen and (max-width: 1100px) {
	.loginfloat {margin-right: 10px;}
}